body {
  width:600px;
  height:400px;
  background-color: #eeeeee;
  color: #444444;
  font-size: 14px;
  line-height: 1.8;
  font-family:"ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

h1 {
  color: #222222;
  font-size: 24px;
}

hr {
  width:590px;
  height:1px;
  border-top: 1px solid #444444;
}
